body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*Spinner Start*/
.spinner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Spinner End*/


/* navbar start */
.nav-item {
    margin-left: 8px;
}
/* navbar end */


/* auth start */
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__form {
    font-weight: 500;
    background-color: #C4C4C4;
    padding: 10px 30px;
}

.auth__title {
    text-align: center;
    margin-bottom: 10px;
}

.auth__form input {
    width: 450px;
    background-color: transparent;
    display: block;
    border: 1px solid black;
    padding: 8px 16px;
    margin-bottom: 20px;
}

.auth__form input::placeholder {
    color: black
}

.auth__form input:first-of-type {
    margin-bottom: 8px;
}

.auth__submit-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.auth__descr a {
    display: inline;
}

.auth__button {
    color: black;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
}

.btn-outline-light:hover {
    color: #000;
    background-color: darkgray;
    border-color: darkgray;
}
/* auth end */


/* shop start */
.shop {
    width: 100%;
    height: 100%;
    padding: 8px 20px;
}

.shop__container {
    display: flex;
}

.shop__devices-cont {
    flex: 0 1 84%;
    margin-left: 20px;
}


/* shop end */


/*typebar start*/
.typebar {
    flex: 0 1 16%;
    margin-top: 90px;
    background: #C4C4C4;
    height: fit-content;
}
.typebar .list-group-item+.list-group-item.active {
    margin-top: 0;
    border-top-width: 0;
}
.list-group {
    padding: 20px 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.list-group-item:hover {
    background-color: darkgrey;
}

.list-group-item.active {
    color: black;
    background-color: darkgrey;
    ;
    border-color: darkgrey;
    ;
}
/*typebar end*/

/* brandbar start */
.brandBar .list-group {
    flex-direction: row;
    flex-wrap: wrap;
}

.brandBar__li {
    list-style: none;
    background-color: #C4C4C4;
    margin: 0 0 8px 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.brandBar__li:hover,
.brandBar__li.active {
    background-color: darkgray;
}
/* brandbar end */

/* device item start*/
.devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deviceItem {
    padding: 8px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.25s;

}

.deviceItem:hover {
    border-color: black;

}

.deviceItem__image-cont {
    width: 180px;
    height: 180px;
    margin-bottom: 8px;
}

.deviceItem__image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deviceItem__title-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.deviceItem__title {
    color: #817D7D;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    max-width: fit-content;

}

.deviceItem__rating-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deviceItem__img {
    width: 13px;
    height: 13px;
}

.deviceItem__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deviceItem__price{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
/* device item end*/
/*device start*/
.device{
    width: 100%;
    height: 100%;
}
.device__cont{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.device__main-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}
.device__img-cont,
.device__title-cont,
.device__price-cont{
    flex: 0 1 30vw;
    height: 30vw;
}
.device__star-cont{
    height: 25vw;
    text-align: center;
    line-height: 27vw;
    font-size: 32px;
    font-weight: 500;
}
.device__star-cont img{
    display: none;
}
.device__img-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.device__price-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color: white;
   text-align: center;
   padding: 35px;
}
.device__button{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.device h2{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
.device__specification h2{
    margin-bottom: 18px;
}
.device__specification li{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 20px;
}
.device__specification li:nth-child(odd){
    background-color: white;
}
.device__img-cont .spinner{
    width: 100%;
    height: 100%;
}
/*device end*/
/*admin page start*/
.admin__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.admin__container .btn{
    margin-bottom: 15px;
    text-transform: uppercase;
    max-width: 300px;
}
/*admin page end*/
/*device modal start*/
.device-modal__select{
    max-width: 300px;
    background-color: #6C757D;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}
.device-modal__select:hover{
    background-color: #5C636A;
}
.device-modal input{
    margin-bottom: 8px;
}
.device-modal__file{
    margin-bottom: 8px;
}

.form-control::-webkit-file-upload-button{
    background-color: #6C757D;
    color: white
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #5C636A;
}
.device-modal__spec-container li{
    display: flex;
}
.device-modal__spec-container li input:first-child{
    flex: 0 1 30%;
    margin-right: 3px;
}
.device-modal__spec-container li button{
    height: 37px;
    margin-left: 3px;
}

/*device modal end*/
/*device bulk modal start*/
.device-modal__descr{
    line-height: 1.6;
}
/*device bulk modal end*/
/*sample page start*/
.sample pre{
    padding: 8px;
}
/*sample page end*/
/*pagination start*/
.pagination__cont{
    padding: 10px;
}
.pagination{
    width: fit-content;
    margin: 0 auto;
}
.pagination .page-item .page-link{
    color: black;
}
.pagination .page-link:focus{
    box-shadow: 0 0 0 1px rgb(13 110 253 / 25%);
}
.pagination .page-item.active .page-link{
    background-color: #a9a9a9;
    border-color: #000;
}
/*pagination end*/

/*basket start*/
.basket__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.basket__main{
    flex: 0 1 75%;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
.basket__aside{
    flex: 0 1 25%;
}
.basket__title-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    margin: 0 8px 15px 0;
    padding-bottom: 15px;
}
.basket__title-cont h4{
    font-size: 20px;
    font-weight: 500;
}
.basket__main-title{
    font-size: 30px;
}
.basket-item{
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}
.basket-item__img{
    flex: 0 0 150px;
    height: 150px;
    cursor: pointer;
}
.basket-item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.basket-item__descr-cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.basket-item__descr-subcont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 8px;
}
.basket-item__buttons-cont{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.basket-item__buttons-cont .device-modal__select{
    margin-bottom: 0;
}
.basket-item__buttons-cont button{
    margin-left: 8px;
}
.basket-item__price-cont{
    margin-left: 8px;
}
.basket-item__price-cont h3{
    font-size: 23px;
    font-weight: 500;
}
.basket__main-subtotal,
.basket-aside__subtotal{
    font-size: 20px;
    font-weight: 500;
}
.basket__main-subtotal span,
.basket-aside__subtotal span{
    font-size: 23px;
    font-weight: 500;
}
.basket-aside__subtotal{
    margin-bottom: 8px;
}
.basket-aside__checkout-cont{
    padding: 10px;
    margin: 10px 10px 20px;
    background-color: white;
}
.basket-aside__related-cont{
    padding: 10px;
    margin: 10px;
    background-color: white;
}
.basket-aside__title{
    font-weight: 500;
    margin-bottom: 8px;
}

.basket-sponsored{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}
.basket-sponsored__img{
    flex: 0 0 100px;
    height: 100px;
    padding: 3px;
}
.basket-sponsored__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.basket-sponsored__descr-cont h4{
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
}
.basket-sponsored__descr-cont{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.basket-sponsored__price-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
.basket-sponsored__descr-cont button{
    font-size: 12px;
    padding: 2px 6px;
}
.basket-item__descr-subcont h2{
    margin-bottom: 6px;
    cursor: pointer;
}
/*basket end*/



/* media start */
@media (max-width: 1312px) {}

@media (max-width: 1050px) {
    /*shop start*/
    .shop__devices-cont {
        flex: 0 1 80%;
    }
    .typebar {
        flex: 0 1 20%;
    }
    /*shop end*/
}

@media (max-width: 992px) {
    /*device start*/
    .device__main-cont {
        display: flex;
        flex-direction: column;

    }
    .device__img-cont{
        flex: 0 1 90vw;
        width: 90vw;
        margin-bottom: 8px;
    }
    .device__title-cont,
    .device__price-cont{
        flex: 0 1 auto;
        width: 100%;
    }
    .device__title-cont{
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 20px;
    }
    .device__star-cont{
        background: none !important;
        height: auto;
        text-align: center;
        line-height: 1.2;
        font-size: 32px;
        font-weight: 500;
    }
    .device__star-cont img{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 10px 10px;
    }
    .device__price-cont{
        height: auto;
    }
    .device__price-cont h2{
        margin-bottom: 10px;
    }
    /*device end*/
}
@media (max-width: 800px){
    /*basket start*/
    .basket__main{
        width: 100%;
        margin: 0;
    }
    .basket__main-subtotal{
        display: none;
    }
    .basket__container{
        flex-direction: column;
    }
    /*basket end*/
}
@media (max-width: 688px) {
    /* auth start */
    .auth__form input {
        width: 90vw;
    }
    .auth__form {
        padding: 10px;
    }
    /* auth end */
    /*shop start*/
    .shop__container{
        flex-direction: column;
    }


    .shop__devices-cont {
        margin-left: 0;
    }
    .typebar {
        margin-top: 0;
    }
    /*shop end*/
    /*device item start*/
    .deviceItem__image-cont {
        width: 80vw;
        height: 80vw;
    }
    /*device item end*/
    /*basket star*/
    .basket-item{
        flex-direction: column;
    }
    .basket-item__img {
        flex: 0 0 80vw;
        height: 80vw;
        margin-bottom: 6px;
    }
    
    /*basket end*/
}


/* media end */