/*general styles start*/

HTML,
body {
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.no-before::after,
.no-before::before {
    display: none;
}

.display-flex {
    display: flex;
}

button:hover {
    opacity: .8;
}

button:active {
    transform: translate(1px, 1px);
}

.modal-dialog-centered {
    max-width: 550px;
}

.alert-button-self {
    background-color: #c44900;
}

.table__link {
    color: inherit;
    text-decoration: none;
}

.table__link:hover {
    color: inherit;
    text-decoration: underline;
}

/*general styles end*/

/*Spinner Start*/
.spinner {
    flex: 1 1 auto;
    width: 100vw;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner__shop {
    flex: 1 1 auto;
}

.td-spinner .spinner-border {
    width: 16px;
    height: 16px;
}

.spinner__device-info {
    width: 100%;
    height: 100%;
}

/*Spinner End*/

/*Error Page Start*/
.error__page {
    color: red;
    flex: 1 1 auto;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Error Page End*/

/* navbar start */
.nav-item {
    margin-left: 8px;
}

/* navbar end */


/* auth start */
.auth {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__form {
    font-weight: 500;
    background-color: #C4C4C4;
    padding: 10px 30px;
}

.auth__title {
    text-align: center;
    margin-bottom: 10px;
}

.auth__form input {
    width: 450px;
    background-color: transparent;
    display: block;
    border: 1px solid black;
    padding: 8px 16px;
    margin-bottom: 20px;
}

.auth__form input::placeholder {
    color: black
}

.auth__form input:first-of-type {
    margin-bottom: 8px;
}

.auth__submit-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.auth__descr a {
    display: inline;
}

.auth__button {
    color: black;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
}

.btn-outline-light:hover {
    color: #000;
    background-color: darkgray;
    border-color: darkgray;
}

/* auth end */


/* shop start */
.shop {
    width: 100%;
    flex: 1 1 auto;
    padding: 8px 20px;
}

.shop__container {
    display: flex;
}

.shop__devices-cont {
    flex: 0 1 84%;
    margin-left: 20px;
}


/* shop end */
/*about start*/
.about {
    flex: 1 1 auto;
    margin: 60px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.about__title {
    font-size: 63px;
    font-weight: 700;
    text-align: center;
    margin: 35px auto 15px;
}

.about__descr {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}

.about__cards {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-card {
    padding: 8px;
    width: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-card__img-cont {
    margin-bottom: 30px;
}

.about-card__img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.about-card__descr {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}

.about-card__button {
    text-align: center;
    max-width: 312px;
    display: block;
    letter-spacing: 1.2px;
    margin: 0 auto 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 30px;
    border: 4px solid #212529;
    color: #212529;
    text-transform: uppercase;
}

.about-card__button:hover,
.about-card__button:focus,
.about-card__button:active {
    color: white;
    background-color: #212529;
    transition: all .3s ease-out;
}

/**about subpages**/
.sub-about {
    flex: 1 1 auto;
    margin: 60px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
    background-color: white;
}

.sub-about__title {
    font-size: 63px;
    font-weight: 700;
    text-align: center;
    margin: 35px auto;
    max-width: 70vw;
}

.sub-about__descr {
    font-size: 19px;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto 35px;
}

.experience-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.experience-block__img-cont {
    width: 100%;
}

.experience-block:nth-child(even) {
    flex-direction: row-reverse;
}

.experience-block:nth-child(even) .experience-block__title,
.experience-block:nth-child(even) .experience-block__descr {
    text-align: right;
}

.experience-block:nth-child(even) .experience-block__buttons {
    justify-content: flex-end;
}

.experience-block:nth-child(even) .experience-block__button {
    margin: 0 0 0 15px;
}

.experience-block__img-cont {
    flex: 0 1 45%;
    padding: 10px;
}

.experience-block__img-cont img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}

.experience-block__descr-cont {
    flex: 0 1 45%;
    padding: 10px;
}

.sub-about__block {
    margin-bottom: 35px;
}

.experience-block__title {
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 18px;
}

.experience-block__descr {
    font-size: 19px;
    text-align: left;
    margin-bottom: 28px;
}

.experience-block__buttons {
    display: flex;
    justify-content: flex-start;
}

.experience-block__button {
    margin: 0 15px 0 0;
}

/**who we are**/
.whoWe .experience-block {
    flex-direction: column;
    margin: 0 auto;
}

.whoWe .experience-block:last-child .experience-block__descr-cont .experience-block__title,
.whoWe .experience-block:last-child .experience-block__descr-cont .experience-block__descr {
    text-align: center;
}

.experience-block__img-small {
    display: none;
}

.whoWe .experience-block__img-cont {
    flex: 0 1 100%;
    max-width: 65vw;
    margin: 0 auto;
}

.whoWe .experience-block__descr-cont {
    flex: 0 1 100%;
    max-width: 60vw;
    margin: 0 auto;
}


.whoWe .experience-block:nth-child(even) .experience-block__title,
.whoWe .experience-block:nth-child(even) .experience-block__descr {
    text-align: left;
}

.experience-block:nth-child(even) .experience-block__buttons {
    justify-content: flex-start;
}

/*about end*/

/*protected start*/
.protected {
    flex: 1 1 auto;
}

.protected__container {
    margin: 60px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
    background-color: white;
    padding: 0 12vw;
}

.protected__title {
    font-size: 63px;
    font-weight: 700;
    text-align: center;
    margin: 35px auto 15px;
    transition: all .3s ease-out;
}

.protected__descr {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}

.protected__cards {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-evenly;
}

.prot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    transition: all .3s ease-out;
}

.prot-card:nth-child(odd) {
    width: 15vw;
}

.prot-card:nth-child(even) {
    width: 30vw;
}

.prot-card__image-cont {
    width: 100%;
    height: 20vw;
    margin-bottom: 15px;
    transition: all .3s ease-out;
}

.prot-card__image-cont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prot-card__title {
    font-size: 21px;
    font-weight: 700;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.prot-card__button-cont {
    width: 112px;
    height: 40px;
}

.prot-card__button-cont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prot-card__img-dark {
    display: none;
}

.prot-card:hover {
    transition: all .3s ease-out;
}

.prot-card:hover .prot-card__img {
    display: none;
    transition: all .3s ease-out;
}

.prot-card:hover .prot-card__img-dark {
    display: block;
    transition: all .3s ease-out;
}

.protected__cards:hover .prot-card:not(:hover) .prot-card__image-cont,
.protected__cards:hover .prot-card:not(:hover) .prot-card__title {
    opacity: .1;
    transition: all .3s ease-out;
}

/*protected end*/
/*help start*/
.help {
    flex: 1 1 auto;
}

.help__container {
    margin: 60px auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
    background-color: white;
    padding: 4vw;
}

.help__banner {
    margin-bottom: 30px;
    position: relative;
}

.help__banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .3);
}

.help-banner {
    width: 100%;
    height: 30vh;
    background: url('./assets/help/help_banner_lrg.avif') center/cover no-repeat;
}

.help-banner h3 {
    font-size: 54px;
    color: white;
    font-weight: 700;
    text-align: center;
    z-index: 9;
    position: relative;
    padding-top: 4vh;
    margin-bottom: 4vh;
}

.help-banner__container {
    position: relative;
    z-index: 9;
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.help-banner__container input {
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: none;
    padding: 0 12px;
}

.help-banner__container button {
    width: 60px;
    height: 40px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    background: white url('./assets/icons/search.svg') 21px 11px;
}

.help__faq-cont {
    margin-bottom: 30px;
}

.faq-cont__title {
    color: #2d2d2d;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.faq-card__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.faq-card {
    background-color: #f3f3f3;
    flex: 0 1 31%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-card__title {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.faq-card__title a {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
    color: #2d2d2d;
    text-decoration: none;
}

.faq-card__title a:hover {
    text-decoration: underline;
}

.faq-card__links {
    padding: 10px;
}

.faq-card__links li {
    padding: 12px;
}

.faq-card__links li a {
    color: black;
    text-decoration: none;
}

.faq-card__all {
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.faq-card__all a {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 500;
    text-decoration: none;
}

.faq-card__links li a:hover,
.faq-card__all a:hover {
    text-decoration: underline;
}

.help__bottom-cont {
    display: flex;
    justify-content: space-evenly;
}

.popular-cont,
.help__contact {
    flex: 0 1 48%;
}

.popular-cont>h3,
.help__contact>h3 {
    color: #2d2d2d;
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.popular-cont__cards {
    background-color: #F3F3F3;
}

.popular-cont__cards {
    padding: 0 10px;
}

.popular-cont__cards li {
    padding: 12px;
}

.popular-cont__cards li:not(:last-child) {
    border-bottom: 1px solid white;
}

.popular-cont__cards li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
}

.popular-cont__cards li a:hover {
    text-decoration: underline;
}

.help__contact-cont {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;

}

.contact-cont__banner {
    width: 100%;
    height: 25vh;
    margin-bottom: 20px;
}

.contact-cont__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-cont__button-wrapper {
    text-align: center;
}

.contact-cont__button-wrapper a:hover,
.contact-cont__button-wrapper button:hover {
    background-color: white;
    transition: all .3s ease-out;
}

.contact-cont__button-wrapper button:disabled {
    background: white;
    opacity: .3;
}

.contact-cont__button-wrapper a,
.contact-cont__button-wrapper button {
    display: inline-block;
    color: #2d2d2d;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px;
    transition: all .3s ease-out;
}

.help__cat-list .spinner-border {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

/**help breadcrumbs**/
.help__breadcrumbs {
    border-bottom: 1px solid #ddd;
    position: relative;
    top: -40px;
    padding-bottom: 20px;
}

.help__breadcrumbs a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.help__breadcrumbs a:hover,
.help__breadcrumbs a:focus {
    text-decoration: underline;
}

.help__breadcrumbs .active {
    color: #2d2d2d;
}

/**help subpage**/
.aside-h3 {
    color: #2d2d2d;
    font-size: 22px;
    font-weight: 700;
    padding: 13px 0;
    text-transform: uppercase;
}

.help__main-wrapper {
    display: flex;
}

.help__category {
    flex: 0 1 70%;
    background-color: #f3f3f3;
}

.help__aside {
    flex: 0 1 30%;
    margin-left: 20px;
}

.help-aside__topics {
    background-color: #f3f3f3;
    padding: 0 20px;
    margin-bottom: 10px;
}

.help-aside__search {
    background-color: #f3f3f3;
    padding: 0 20px;
    margin-bottom: 10px;
}

.help-aside__contact {
    background-color: #f3f3f3;
    margin-bottom: 10px;
}

/**help subpage banner**/
.help__cat-banner {
    width: 100%;
    height: 20vh;
    position: relative;
}

.help__cat-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.help__cat-banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .3);
}

.help__cat-banner h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    font-size: 34px;
    color: white;
    font-weight: 700;
    text-align: center;
}

/**help categories list**/
.cat-list li:first-child {
    color: #2d2d2d;
    font-weight: 500;
}

/**help progress bar**/
.cat-list__progress {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}


/**help topics aside**/
.topic-aside li {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.topic-aside li:not(:last-child) {
    border-bottom: 1px solid white;
}

.topic-aside li a {
    width: 100%;
    margin-left: 8px;
    text-decoration: none;
    color: black;
}

.topic-aside li a:hover {
    text-decoration: underline;
}

.topic-aside__icon {
    width: 50px;
    height: 50px;
}

.topic-aside__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/**help aside search**/
.aside-search__wrapper {
    position: relative;
    padding-bottom: 20px;
}

.aside-search__wrapper input {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    padding-left: 12px;
}

.aside-search__wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    border: none;
    background-color: white;
    background: url('./assets/icons/search.svg') no-repeat 30px 15px;
}

/**help aside search**/
.help-aside__contact h3 {
    margin-left: 20px;
}

.contact-cont__button-wrapper a {
    margin: 0 20px 20px;
}

/*help end*/

/*typebar start*/
.typebar {
    flex: 0 1 16%;
    margin-top: 90px;
    background: #C4C4C4;
    height: fit-content;
}

.typebar .list-group-item+.list-group-item.active {
    margin-top: 0;
    border-top-width: 0;
}

.list-group {
    padding: 20px 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.list-group-item:hover {
    background-color: darkgrey;
}

.list-group-item.active {
    color: black;
    background-color: darkgrey;
    ;
    border-color: darkgrey;
    ;
}

/*typebar end*/

/* brandbar start */
.brandBar .list-group {
    flex-direction: row;
    flex-wrap: wrap;
}

.brandBar__li {
    list-style: none;
    background-color: #C4C4C4;
    margin: 0 0 8px 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.brandBar__li:hover,
.brandBar__li.active {
    background-color: darkgray;
}

/* brandbar end */

/* device item start*/
.devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deviceItem {
    padding: 8px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.25s;

}

.deviceItem:hover {
    border-color: black;

}

.deviceItem__image-cont {
    width: 180px;
    height: 180px;
    margin-bottom: 8px;
}

.deviceItem__image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deviceItem__title-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.deviceItem__title {
    color: #817D7D;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    max-width: fit-content;

}

.deviceItem__rating-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deviceItem__img {
    width: 13px;
    height: 13px;
}

.deviceItem__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deviceItem__price {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* device item end*/
/*device start*/
.device {
    width: 100%;
    flex: 1 1 auto;
}

.device__cont {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.device__main-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.device__img-cont,
.device__title-cont,
.device__price-cont {
    flex: 0 1 30vw;
    height: 30vw;
}

.device__star-cont {
    height: 25vw;
    text-align: center;
    line-height: 27vw;
    font-size: 32px;
    font-weight: 500;
}

.device__star-cont img {
    display: none;
}

.device__img-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.device__price-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    padding: 35px;
}

.device__button {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.device h2 {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.device__specification h2 {
    margin-bottom: 18px;
}

.device__specification li {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 20px;
}

.device__specification li:nth-child(odd) {
    background-color: white;
}

.device__img-cont .spinner {
    width: 100%;
    height: 100%;
}

/*device end*/

/*device modal start*/
.device-modal__select {
    max-width: 300px;
    background-color: #6C757D;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
}

.device-modal__select:hover {
    background-color: #5C636A;
}

.device-modal input {
    margin-bottom: 8px;
}

.device-modal__file {
    margin-bottom: 8px;
}

.form-control::-webkit-file-upload-button {
    background-color: #6C757D;
    color: white
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #5C636A;
}

.device-modal__spec-container li {
    display: flex;
}

.device-modal__spec-container li input:first-child {
    flex: 0 1 30%;
    margin-right: 3px;
}

.device-modal__spec-container li button {
    height: 37px;
    margin-left: 3px;
}

/*device modal end*/
/*device add container start*/
.account__search-cont {
    display: flex;
    justify-content: space-between;
}

.addDevices__container,
.addTypes-buttons__container,
.addBrands-buttons__container {
    padding: 2px 6px;
    background-color: #fff;
    width: fit-content;
}

.addDevices__container button,
.addTypes-buttons__container button,
.addBrands-buttons__container button {
    height: 25px;
    border: 1px solid #A9A9A9;
    text-transform: uppercase;
}

.addDevices__container button:not(:first-child),
.addTypes-buttons__container button:not(:first-child),
.addBrands-buttons__container button:not(:first-child) {
    margin-left: 5px;
}

.addTypes-buttons__container,
.addBrands-buttons__container {
    margin-top: 22px;
}

/*device add container end*/

/*device bulk modal start*/
.device-modal__descr {
    line-height: 1.6;
}

/*device bulk modal end*/
/*sample page start*/
.sample pre {
    padding: 8px;
}

/*sample page end*/
/*pagination start*/
.pagination__cont {
    padding: 10px;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
}

.pagination .page-item .page-link {
    color: black;
}

.pagination .page-link:focus {
    /* box-shadow: 0 0 0 1px rgb(13 110 253 / 25%); */
    box-shadow: none;
    background-color: #fff;

}

.pagination .page-link:hover {
    background-color: #F3F3F3;
    box-shadow: 0 0 0 1px rgb(13 110 253 / 25%);
    /* background-color: white; */

}

.pagination .page-item.active .page-link {
    box-shadow: 0 0 0 1px rgb(13 110 253 / 25%);
    background-color: #a9a9a9;
    border-color: #A9A9A9;
}

/*pagination end*/

/*basket start*/
.basket {
    flex: 1 1 auto;
}

.basket__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.basket__main {
    flex: 0 1 75%;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.basket__aside {
    flex: 0 1 25%;
}

.basket__title-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gray;
    margin: 0 8px 15px 0;
    padding-bottom: 15px;
}

.basket__title-cont h4 {
    font-size: 20px;
    font-weight: 500;
}

.basket__main-title {
    font-size: 30px;
}

.basket-item {
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}

.basket-item__img {
    flex: 0 0 150px;
    height: 150px;
    cursor: pointer;
}

.basket-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basket-item__descr-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket-item__descr-subcont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 8px;
}

.basket-item__buttons-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.basket-item__buttons-cont .device-modal__select {
    margin-bottom: 0;
}

.basket-item__buttons-cont button {
    margin-left: 8px;
}

.basket-item__price-cont {
    margin-left: 8px;
}

.basket-item__price-cont h3 {
    font-size: 23px;
    font-weight: 500;
}

.basket__main-subtotal,
.basket-aside__subtotal {
    font-size: 20px;
    font-weight: 500;
}

.basket__main-subtotal span,
.basket-aside__subtotal span {
    font-size: 23px;
    font-weight: 500;
}

.basket-aside__subtotal {
    margin-bottom: 8px;
}

.basket-aside__checkout-cont {
    padding: 10px;
    margin: 10px 10px 20px;
    background-color: white;
}

.basket-aside__related-cont {
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.basket-aside__title {
    font-weight: 500;
    margin-bottom: 8px;
}

.basket-sponsored {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.basket-sponsored__img {
    cursor: pointer;
    flex: 0 0 100px;
    height: 100px;
    padding: 3px;
}

.basket-sponsored__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basket-sponsored__descr-cont h4 {
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
}

.basket-sponsored__descr-cont {
    max-width: 250px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.basket-sponsored__price-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.basket-sponsored__descr-cont button {
    font-size: 12px;
    padding: 2px 6px;
}

.basket-item__descr-subcont h2 {
    margin-bottom: 6px;
    cursor: pointer;
}

/*basket end*/
/*checkout start*/
.checkout {
    flex: 1 1 auto;
}

.checkout__container {
    padding: 10px;
    margin: 10px;
    max-width: 600px;
    background-color: #fff;
}

.checkout__main-title {
    font-size: 30px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.checkout__button {
    font-size: 22px;
    padding: 5px 25px;
}

.checkout__total {
    margin-bottom: 10px;
}

.checkout__total h2 {
    font-size: 20px;
    font-weight: 500;
}

.checkout__total h2 span {
    font-size: 23px;
    font-weight: 500;
}

.checkout__cards {
    margin-bottom: 35px;
}

.checkout__cards h4 {
    margin-bottom: 8px;
    font-weight: 500;
}

.checkout__card {
    width: 190px;
    height: 125px;
    position: relative;
}

.checkout__card {
    border: none;
}

.checkout__card img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 8px;
    object-fit: contain;
}

.checkout__card:hover,
.checkout__card:active,
.checkout__card:focus {
    background-color: #FFC107;
}

.checkout__message {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding: 50px 8px;
}

.checkout__items-cont {
    margin-bottom: 15px;
}

.checkout__items-cont h4 {
    margin-bottom: 8px;
    font-weight: 500;
}

.checkout__item-row {
    display: flex;
    background-color: #f3f3f3;
    font-style: italic;
    margin-bottom: 1px;
    padding-left: 15px;
}

.checkout__item-title {
    flex: 1 0 75%;
}

.checkout__count {
    flex: 1 0 10%;
}

.checkout__price {
    flex: 1 0 15%;
}

/*checkout end*/
/*user account start*/

.account {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/*user account end*/
/*account navbar start*/
.account__navbar ul {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    background-color: #A9A9A9;
}

.account__navbar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.account__navbar ul li a {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.account__navbar ul li a:hover {
    text-decoration: underline;
}

.account__nav-link.active {
    background-color: #F3F3F3;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.account__nav-link {
    position: relative;
}

.account__nav-link.active::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: -11px;
    background-color: transparent;
    width: 12px;
    height: 10px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 0 0 #F3F3F3;
}

.account__nav-link.active::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: -11px;
    background-color: transparent;
    width: 12px;
    height: 10px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 5px 0 0 #F3F3F3;
}

.account__nav-item:last-of-type>.account__nav-link.active::before,
.account__nav-item:last-of-type>.account__nav-link.active::after {
    box-shadow: 0 5px 0 0 white;
}

.account__nav-item:last-of-type>.account__nav-link.active {
    background-color: white;
}

/*account navbar end*/
/*account orders start*/
.acc-orders {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
}

.acc-orders .search {
    margin-bottom: 4px;
}

.acc-orders .pagination__cont {
    margin: 0 auto;
}

/*account orders end*/
/*stripped table start*/
.stripped-table {
    background-color: #F3F3F3;
}

.stripped-table tfoot {
    background-color: #c44900;
}

.stripped-table th {
    padding: 5px 16px;
    background-color: #C4C4C4;
    font-weight: 500;
    vertical-align: middle;
}


.stripped-table th {
    position: relative;
    padding-right: 24px;
}

.stripped-table th:not(:last-child) {
    border-right: 1px solid #F3F3F3;
}

.stripped-table th::after {

    position: absolute;
    top: 3px;
    right: 0;
    padding: 1px 3px 2px;
    margin: 0 3px;
    height: auto;
    content: '^';
}

.stripped-table th::before {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 1px 3px;
    margin: 0 3px;
    height: auto;
    content: '^';
    transform: rotateZ(180deg);
}

.stripped-table th:hover::after {
    cursor: pointer;
    outline: 1px solid #A9A9A9;
    border-radius: 2px;
}

.stripped-table tr:nth-child(odd) {
    background-color: #fff;
}

.stripped-table tfoot tr:nth-child(odd) {
    background-color: #efd6ac;
}


.stripped-table td {
    padding: 3px 16px;
    text-align: center;
}

.stripped-table .td-active {
    cursor: pointer;
}

.stripped-table .td-active:hover {
    text-decoration: underline;
}

.stripped-table td input {
    width: 100%;
}

.stripped-table td button {
    width: 25px;
    border: 1px solid cadetblue;
    margin-left: 1px;
}

.stripped-table__device-img {
    width: 16px;
    height: 16px;
}

.stripped-table__input-file {
    max-width: 200px;
}

.stripped-table__input-file button {
    height: 15px;
}

.device-img__modal-body {
    text-align: center;
}

.device-img__modal {
    width: 30vw;
    height: 30vw;
}

.stripped-table td .stripped-table__button-edit,
.stripped-table td .stripped-table__button-confirm {
    width: auto;
    height: auto;
}

.stripped-table td .stripped-table__button-edit,
.stripped-table td .stripped-table__button-delete {
    margin-left: 6px;
}


/*stripped table end*/
/*admin device modal start*/
.admin-device__footer-modal {
    display: flex;
    justify-content: space-between;
}

.admin-device__add-button {
    margin-right: 8px;
}

/*admin device modal end*/

/*admin static pages start*/
.admin-pages .spinner {
    width: 100%;
    background-color: white;
}

.admin__input-edit,
.admin__area-edit {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 30px;
}

.admin__input-container,
.admin__area-container,
.admin__image-container {
    display: flex;
    align-items: center;

}

.admin__input-container .td-spinner,
.admin__area-container .td-spinner,
.admin__image-container .td-spinner {
    margin: 0 auto;
}

.admin__input-container h2,
.admin__area-container h2 {
    font-weight: 500;
    text-transform: uppercase;
}

.admin__input-container>div:first-of-type:not(.td-spinner),
.admin__area-container>div:first-of-type:not(.td-spinner) {
    line-height: 1.5;
    margin-left: 12px;
    cursor: pointer;
    position: relative;
}

.admin__input-container button,
.admin__area-container button {
    border: 1px solid #333;
    width: 40px;
    height: auto;
    margin-left: 1px;
}

.admin__image-container button {
    border: 1px solid #333;
    height: auto;
    margin-left: 1px;
}

.admin__input-container button:hover,
.admin__area-container button:hover,
.admin__image-container button:hover {
    opacity: .6;
}

.admin__input-container input {
    border: 1px solid #333;
    width: 240px;
    height: auto;
}
.text-admin__input-cont{
    width: max-content;
}
.admin__area-container textarea {
    border: 1px solid #333;
    width: 740px;
    min-height: 200px;
}

.admin-pages {
    display: grid;
    grid-template-columns: 150px auto;
}

.pages__navbar {
    margin-bottom: 8px;
}

.pages__navbar li {
    border-bottom: 1px solid black;

}
.pages__navbar li:nth-child(3) a,
.pages__navbar li:nth-child(4) a,
.pages__navbar li:nth-child(5) a,
.pages__navbar li:nth-child(6) a,
.pages__navbar li:nth-child(7) a{
    font-size: 12px;
    margin-left: 25px;
    padding-left: 17px;
    position: relative;
}
.pages__navbar li:nth-child(3) a::before,
.pages__navbar li:nth-child(4) a::before,
.pages__navbar li:nth-child(5) a::before,
.pages__navbar li:nth-child(6) a::before,
.pages__navbar li:nth-child(7) a::before{
    position: absolute;
    top: 30%;
    left: 5px;
    width: 100%;
    height: 100%;
    content: '--'
}

.pages__navbar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.pages__navbar a:hover,
.pages__navbar a:active {
    text-decoration: underline;
    background-color: white;
}

.admin-pages__page {
    background-color: #fff;
    padding: 8px;
}

.admin-pages__container>h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 18px 0 30px;
}

.admin-pages__container>h2:first-of-type {
    margin: 18px 0;
}

.pages__nav-item .pages__nav-link.active {
    background-color: white;
}

/**input img common**/
.image-admin,
.admin__image-container,
.image-admin__img {
    width: 100%;
    height: 100%;
}

.admin__image-edit {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    position: relative;
}
.image-admin__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}
.admin__input-container>div:first-of-type:not(.td-spinner):not(.display-flex):hover::before,
.admin__area-container>div:first-of-type:not(.td-spinner):not(.display-flex):hover::before,
.image-admin__img:hover::before {
    content: 'EDIT';
    font-size: 13px;
    font-weight: 700;
    padding: 4px 8px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 2px;
    z-index: 20;
    border-radius: 5px;
}
.admin__input-container>div:first-of-type:not(.td-spinner):not(.display-flex):hover::after,
.admin__area-container>div:first-of-type:not(.td-spinner):not(.display-flex):hover::after,
.image-admin__img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 8px;
}
.image-admin__edit-cont {
    width: 100%;
}

.image-admin__edit-cont input {
    margin-bottom: 8px;
    width: inherit;
}

/**admin app start**/
.admin-app {
    padding: 18px;

}

.admin-app__container .admin__input-edit {
    max-width: 500px;
    margin-bottom: 12px;
}

.admin-app__container .admin__area-edit {
    max-width: 980px;
    margin-bottom: 12px;
}

.admin-app__cards-cont>h2 {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.admin-app__cards-cont {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 30px 0;
}

.admin-app__cards {
    display: flex;
    justify-content: space-evenly;
}

.app-card:nth-child(odd) {
    flex: 0 0 23%;
}

.app-card:nth-child(even) {
    flex: 0 0 42%;
}

.app-card {
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.app-card h2{
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.app-card>h2:first-child{
    margin-bottom: 12px;
}

.app-card__img {
    height: 320px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.app-card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app-card__title h3 {
    font-weight: 500;
    margin-bottom: 12px;
}

.app-card__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.app-card__button-img{
    flex: 0 1 45%;
    max-height: 50%;
}
.app-card__button-img img{
    max-height: 80px;
    max-width: 120px;
}
.app-card .admin__input-container input {
    width: 100%;
}

/**admin app end**/
/**admin about start**/
.about-card {
    flex: 0 0 31%;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}
.app-about__img{
    height: 450px;
}
.about-card .admin__input-container input {
    width: 15vw;
}
/**admin about end**/
/**admin about buttons start**/
.about-buttons .admin-pages__container>h2:first-of-type{
    margin: 18px 0 30px;
}
.about-buttons__btns-block{
    max-width: 650px;
    padding: 15px;
    margin: 20px;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.about-buttons__btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 6px;
}
.about-buttons__title{
    flex: 0 1 250px;
    /* max-width: 250px; */
}
.about-buttons__title .admin__input-edit{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.about-buttons__link .admin__input-edit{
    padding: 10px;
}
.about-buttons__title .admin__input-container{
    display: block;
    text-align: center;
}
.about-buttons__title .text-admin .admin__input-container>div{
    margin-left: 0;
    font-size: 21px;
}
.about-buttons__link{
    flex: 0 1 100%;
}
.about-buttons__link>input{
    margin-left: 12px;
}
.about-buttons__delete{
    flex: 0 0 40px;
    height: 40px;
    font-weight: 700;
    border-color: red;
    color: red;
    border-radius: 50%;
    font-size: 22px;
    transition: all .3s ease-in-out;
}
.about-buttons__delete:hover{
    background-color: white;
    transition: all .2s ease-in-out;
}
.about-buttons__new{
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}
.about-buttons__new:hover{
    background-color: #fff;
    transition: all .2s ease-in-out;
}
.about-buttons__add-btns h4,
.about-buttons__btns-block>h4{
    display: block;
    margin: 15px 15px 5px 15px;
    font-weight: 500;
}
.about-buttons__spinner{
    height: 70px;
}
.about-buttons__btns-block .spinner{
    height: 55px;
}
/**admin about buttons end**/
/**admin about blocks start**/
.about-blocks .admin-pages__container>h2:first-of-type{
    margin: 18px 0 30px;
}
.about-blocks__blocks{
    max-width: 900px;
    padding: 15px;
    margin: 20px;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.about-blocks__blocks>h4{
    display: block;
    margin: 15px 15px 5px 15px;
    font-weight: 500;
}
.about-blocks__card{
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    margin-bottom: 1px;
}
.about-blocks__cards-cont{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    background-color: white;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.about-blocks__card-header{
    display: flex;
    padding: 8px;
    max-height: 70px;
}
.about-blocks__card-header div{
    max-height: 100%;
}
.about-blocks__card-header div:not(:first-child){
    margin-left: 12px;
}
.about-blocks__card-title{
    width: 14vw;
    overflow: hidden;
}
.about-blocks__card-text{
    width: 64vw;
}
.about-blocks__card-title h3,
.about-blocks__card-text h3{
    font-weight: 500;
    margin-bottom: 4px;
}
.about-blocks__card-text p{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    height: 32px; 
}
.about-blocks__body-image h2{
    font-weight: 500;
}
.about-blocks__card-button button{
    border: none;
    width: 60px;
    height: 50px;
    position: relative;
}
.arrow::before{
    position: absolute;
    top: 0;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.arrow::after{
    position: absolute;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.arrowDown::before{
    position: absolute;
    top: 19px;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(135deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.arrowDown::after{
    position: absolute;
    top: 19px;
    right: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-135deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}


.about-blocks__card-del button{
    border: none;
    width: 60px;
    height: 50px;
    position: relative;
    font-size: 25px;
    transition: all .2s ease-in-out;
}
.about-blocks__card-del button:hover{
    background-color: red;
    color: white;
    transition: all .2s ease-in-out;
}
/* .about-blocks__card-del button::before{
    position: absolute;
    top: 0;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.about-blocks__card-del button::after{
    position: absolute;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
} */

.about-blocks__card-body{
    padding: 8px;
}
.about-blocks__card-body>div{
    margin-bottom: 12px;
}
.about-blocks__body-imgs,
.about-blocks__body-battons{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 8px;

}
.about-blocks__body-imgs>h3,
.about-blocks__body-battons>h3{
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}
.about-blocks__body-images{
    display: flex;
    align-items: flex-start;
    
}
.about-blocks__body-image:first-child{
    flex: 1 0 66%;
}
.about-blocks__body-image:nth-child(2){
    flex: 1 0 33%;
    margin-left: 8px;
}
.about-blocks__body-btns{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 0 1 100%;
}
.about-blocks__body-btns .about-blocks__body-btn:not(:first-child) button{
    margin-left: 5px;
}
.about-blocks__body-btns button{
    position: relative;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 16px 8px;
    margin-bottom: 6px;
}
.about-blocks__body-btns button:hover::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}
.about-blocks__body-btns button:hover::after{
    content: 'REMOVE';
    font-size: 13px;
    font-weight: 700;
    padding: 4px 8px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 2px;
    z-index: 20;
    border-radius: 5px;
}
.about-blocks__add-btns{
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 8px;
}
.about-blocks__battons-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about-blocks__btn-add{
    flex: 0 1 125px;
    margin: 0 12px;
}
.about-blocks__btn-add button{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 8px;
}
.blocks-form__title,
.blocks-form__text{
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 12px;
}
.blocks-form__title h5,
.blocks-form__text h5{
    font-weight: 500;
    text-transform: uppercase;
}
.blocks-form__title input{
    margin-left: 12px;
}
.blocks-form__text textarea{
    margin-left: 12px;
    width: 70vw;
    min-height: 50px;
}
.blocks-form__imgs-cont{
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 12px;
}
.blocks-form__imgs-cont>h3{
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}
.block-form__img-cards{
    display: flex;
    align-items: flex-start;
}
.block-form__img-card{
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 20px;
}
.block-form__img-card:first-child{
    flex: 0 1 60%;
}
.block-form__img-card:nth-child(2){
    flex: 0 1 38%;
    margin-left: 8px;
}
.block-form__img-card>h4{
    display: block;
    flex: 0 1 15%;
    font-weight: 500;
}
.block-form__img-wrapper{
    flex: 0 1 85%;
    margin-left: 8px;
}
.block-form__img-card:nth-child(2) .block-form__img-edit input{
    max-width: 190px;
}
.block-form__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 12px;
}
.block-form__new-block{
    border: 1px solid #C4C4C4;
    padding: 18px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
/***blocks modal start***/
.blocks-modal .modal-dialog-centered{
    max-width: 400px;
    margin-left: 70%;
    padding-top: 9vh;
}
.blocks-modal .modal-body{
    max-height: 54vh;
    overflow-x: auto;
}
.blocks-modal .modal-body ul li{
    margin-bottom: 3px;
    border: 1px solid #C4C4C4;
    padding: 8px;
    border-radius: 8px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.blocks-modal .modal-body ul li h5{
    font-weight: 500;
}
.blocks-modal .modal-body ul li button{
    background-color: #C4C4C4;
    flex: 0 0 42px;
    border: none;
    height: 50px;
    position: relative;
}
.blocks-modal .modal-body ul li button::before{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    content: '';
    border-left: 1px solid black;
    transition: all .3s ease-in-out;
}
.blocks-modal .modal-body ul li button::after{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    content: '';
    border-left: 1px solid black;
    transition: all .3s ease-in-out;
}
.blocks-modal .modal-body ul li>div{
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 8px;
}
.blocks-modal .modal-body ul li>div:nth-of-type(1){
    flex: 0 0 37%;
}

.arrow::before{
    position: absolute;
    top: 0;
    left: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.arrow::after{
    position: absolute;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    content: '';
    border-bottom: 1px solid black;
    transition: all .3s ease-in-out;
}
.blocks-modal .spinner{
    width: 100%;
    height: 300px;
}
/***blocks modal end***/
/**admin about blocks end**/
/*admin static pages end*/

/*search start*/
.search__container {
    padding: 2px 6px;
    background-color: #fff;
    width: fit-content;
    text-transform: uppercase;
}

.search input {
    width: 150px;
    height: 25px;
    border: 1px solid #A9A9A9;
}

.search select {
    height: 25px;
    margin-left: 5px;
    border: 1px solid #A9A9A9;
}

.search button {
    height: 25px;
    margin-left: 5px;
    border: 1px solid #A9A9A9;
}

/*search end*/

/*tooltip start*/
.tool-tip {
    opacity: 0;
    position: absolute;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    z-index: 100000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

/*tooltip end*/

/*footer start*/
.footer {
    min-height: 40px;
    background-color: #212529;
}

/*footer end*/



/* media start */
@media (max-width: 1312px) {}

@media (max-width: 1050px) {

    /*shop start*/
    .shop__devices-cont {
        flex: 0 1 80%;
    }

    .typebar {
        flex: 0 1 20%;
    }

    /*shop end*/
    /*help start*/
    .help__breadcrumbs {
        top: -28px;
    }

    /*help end*/
}

@media (max-width: 992px) {

    /*device start*/
    .device__main-cont {
        display: flex;
        flex-direction: column;

    }

    .device__img-cont {
        flex: 0 1 90vw;
        width: 90vw;
        margin-bottom: 8px;
    }

    .device__title-cont,
    .device__price-cont {
        flex: 0 1 auto;
        width: 100%;
    }

    .device__title-cont {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 20px;
    }

    .device__star-cont {
        background: none !important;
        height: auto;
        text-align: center;
        line-height: 1.2;
        font-size: 32px;
        font-weight: 500;
    }

    .device__star-cont img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 10px 10px;
    }

    .device__price-cont {
        height: auto;
    }

    .device__price-cont h2 {
        margin-bottom: 10px;
    }

    /*device end*/
}

@media (max-width: 800px) {

    /*basket start*/
    .basket__main {
        width: 100%;
        margin: 0;
    }

    .basket__main-subtotal {
        display: none;
    }

    .basket__container {
        flex-direction: column;
    }

    /*basket end*/
    /*about start*/
    .about__cards {
        margin-bottom: 10px;
        flex-direction: column;
    }
    .about-card {
        width: 100vw;
    }
   
    .sub-about {
        margin: 10px 0;
    }

    .sub-about__title {
        font-size: 33px;
        margin: 10px auto;
        max-width: 95vw;
    }

    .sub-about__descr {
        max-width: 95vw;
        margin: 0 auto 10px;
    }

    .sub-about__block {
        margin-bottom: 10px;
    }

    .experience-block {
        flex-direction: column;
    }

    .experience-block:nth-child(even) {
        flex-direction: column;
    }

    .experience-block__buttons {
        justify-content: center;
        flex-direction: column;
    }

    .experience-block:nth-child(even) .experience-block__title,
    .experience-block:nth-child(even) .experience-block__descr {
        text-align: center;
    }

    .experience-block:nth-child(even) .experience-block__buttons {
        justify-content: center;
    }

    .experience-block:nth-child(even) .experience-block__button {
        margin: 10px auto;
    }

    /**who we are**/
    .whoWe .experience-block__img {
        display: none;
    }

    .whoWe .experience-block__img-cont {
        max-width: 98vw;
    }
    .whoWe .experience-block__img-small {
        display: block;
        max-width: 98vw;
    }

    .whoWe .experience-block__descr-cont {
        max-width: 100vw;
    }

    /*about end*/
    /*protected start*/
    .protected__container {
        margin: 10px auto;
        padding: 8px;
    }

    .protected__title {
        font-size: 33px;
        margin: 10px auto;
    }

    .protected__descr {
        margin-bottom: 10px;
    }

    .protected__cards {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }

    .prot-card:nth-child(odd) {
        width: 95vw;
    }

    .prot-card:nth-child(even) {
        width: 95vw;
    }

    .prot-card__image-cont {
        height: auto;
        margin-bottom: 10px;
    }

    .prot-card__title {
        margin-bottom: 10px;
    }

    /*protected end*/
    /*help start*/
    .help__container {
        margin: 10px auto;
        padding: 2vw;
    }

    .help__banner {
        margin-bottom: 15px;
    }

    .help-banner h3 {
        font-size: 41px;
    }

    .help-banner__container {
        width: 60vw;
    }

    .help__faq-cont {
        margin-bottom: 15px;
    }

    .faq-cont__title {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .faq-card {
        flex: 0 1 48%;
        margin-bottom: 10px;
    }

    .faq-card__links {
        padding: 10px;
    }

    .faq-card__links li {
        padding: 12px;
    }

    .popular-cont>h3,
    .help__contact>h3 {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .popular-cont__cards {
        padding: 0 10px;
    }

    .contact-cont__button-wrapper a {
        margin: 15px;
    }

    .help__breadcrumbs {
        top: 0;
    }

    .help__main-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .help__category {
        margin-bottom: 10px;
    }

    .help__aside {
        margin-left: 0;
    }

    /*help end*/

}

@media (max-width: 688px) {

    /* auth start */
    .auth__form input {
        width: 90vw;
    }

    .auth__form {
        padding: 10px;
    }

    /* auth end */
    /*shop start*/
    .shop__container {
        flex-direction: column;
    }


    .shop__devices-cont {
        margin-left: 0;
    }

    .typebar {
        margin-top: 0;
    }

    /*shop end*/
    /*device item start*/
    .deviceItem__image-cont {
        width: 80vw;
        height: 80vw;
    }

    /*device item end*/
    /*basket star*/
    .basket-item {
        flex-direction: column;
    }

    .basket-item__img {
        flex: 0 0 80vw;
        height: 80vw;
        margin-bottom: 6px;
    }

    /*basket end*/
    /*about start*/
    .about {
        margin: 20px 0;
    }

    .about__title {
        font-size: 33px;
        margin: 25px auto 10px;
    }

    .about__descr {
        margin-bottom: 10px;
    }

    

    /* .about-card {
        max-width: 530px;
        ;
    } */

    .about-card__img-cont {
        width: 95vw;
        height: auto;
        margin-bottom: 10px;
    }

    .about-card__title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .about-card__descr {
        margin-bottom: 10px;
    }

    .about-card__button {
        margin: 0 auto 10px;
    }

    /*about end*/
    /*help start*/

    .faq-card {
        flex: 0 1 96%;
    }

    .help__bottom-cont {
        flex-wrap: wrap;
    }

    .popular-cont,
    .help__contact {
        flex: 0 1 96%;
    }

    .popular-cont {
        margin-bottom: 15px;
    }

    /*help end*/
}

@media (max-width: 420px) {

    /* navbar start */
    .flex-row.navbar-nav.me-auto {
        display: block;
    }

    .flex-row.navbar-nav.me-auto li {
        display: inline-block;
    }

    .navbar-nav.navbar-user-data-cont.flex-row {
        display: block;
    }

    .navbar-nav.navbar-user-data-cont.flex-row li {
        display: inline-block;
        margin-bottom: 5px;
    }

    /* navbar end */
    /* checkout start */
    .checkout__item-title {
        flex: 1 0 65%;
    }

    .checkout__item-row {
        padding-left: 0;
    }

    /* checkout end */
}

/* media end */