# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.env
/server/node_modules
/server/static
/server/.env
/server/.env.production
/server/.env.development

/server/.pnp

# testing
/client/coverage
/server/coverage

# production
/client/build
/server/build

/goodsGenerator/imgRename
/goodsGenerator/node_modules

/heroku
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ebay parser
/ebayParser/node_modules
/ebayParser/generatedData
